
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479397217281'); /* IE9*/
  src: url('iconfont.eot?t=1479397217281#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479397217281') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479397217281') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479397217281#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuanfa:before { content: "\e613"; }

.icon-weibo:before { content: "\e600"; }

.icon-heart:before { content: "\e610"; }

.icon-heart1:before { content: "\e611"; }

.icon-gmail:before { content: "\e601"; }

.icon-camera:before { content: "\e62b"; }

.icon-fire:before { content: "\e60f"; }

.icon-wechat:before { content: "\e602"; }

.icon-question:before { content: "\e609"; }

.icon-github:before { content: "\e603"; }

.icon-right:before { content: "\e606"; }

.icon-light:before { content: "\e60b"; }

.icon-next:before { content: "\e60c"; }

.icon-write:before { content: "\e60a"; }

.icon-wrong:before { content: "\e607"; }

.icon-icon-dot-circle-o:before { content: "\e640"; }

.icon-login:before { content: "\e604"; }

.icon-article-copy:before { content: "\e60d"; }

.icon-linkin:before { content: "\e605"; }

.icon-yaochi:before { content: "\e608"; }

.icon-iconfontshangjiagonggao:before { content: "\e62e"; }

.icon-pinglun:before { content: "\e612"; }

.icon-video:before { content: "\e678"; }

.icon-noun31554cc:before { content: "\e60e"; }

.icon-video1:before { content: "\e654"; }

