body {
	height: 100%;
	width: 100%;
}
.navbar-header span {
	position: relative;
	top: 5px;
	left: 40px;
	font-size: 0.5em;
}
.navbar-header span a:nth-child(1):hover {
	text-decoration: none;
}
.navbar-header span .iconfont {
	font-size: 9px;
}
.user .item {
	position: relative;
	top: 0px;
	left: 5px;
	display: inline-block;
	min-width: 5px;
	padding: 3px 5px;
	font-size: 9px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 10px;
}
.user a:nth-child(3) {
	position: relative;
	top: 0px;
	left: 15px;
}
.user .iconfont {
	position: relative;
	top: 0px;
	left: 15px;
	font-size: 9px;
	border: 1px solid white;
	border-radius: 50%;
}
#technology .container {
	background-color: #fff;
	border-top-left-radius: 1em 0.5em;
	border-top-right-radius: 1em 0.5em;
}
.title {
	z-index: 42;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-left: 0px;
	background: -webkit-linear-gradient(rgb(165, 94, 4), rgb(219, 163, 68), rgb(244, 204, 109));
	background: -o-linear-gradient(rgb(165, 94, 4), rgb(219, 163, 68), rgb(244, 204, 109));
	background: -moz-linear-gradient(rgb(165, 94, 4), rgb(219, 163, 68), rgb(244, 204, 109));
	background: linear-gradient(rgb(165, 94, 4), rgb(219, 163, 68), rgb(244, 204, 109));
	filter: alpha(opacity=80);
	position: relative;
	border-top-left-radius: 1em 0.5em;
	border-top-right-radius: 1em 0.5em;
}
.left {
	position: absolute;
	left: 0px;
	bottom: -14px;
	width: 14px;
	height: 14px;
	background: -webkit-linear-gradient(rgb(244, 204, 109), rgb(219, 163, 68), rgb(165, 94, 4));
	background: -o-linear-gradient(rgb(244, 204, 109), rgb(219, 163, 68), rgb(165, 94, 4));
	background: -moz-linear-gradient(rgb(244, 204, 109), rgb(219, 163, 68), rgb(165, 94, 4));
	background: linear-gradient(rgb(244, 204, 109), rgb(219, 163, 68), rgb(165, 94, 4));
	border-bottom-left-radius: 100% 50%;
}
.left:after {
	content: '';
	position: absolute;
	right: 0;
	width: 66%;
	height: 66%;
	background: #000;
	border-top-left-radius: 100% 50%;
	border-bottom-left-radius: 100% 50%;
}
.tech-model {
	padding: 15px;
}
.tech-model li {
	width: 30%;
	height: 65px;
	line-height: 65px;
}
.tech-model li a {
	color: white;
}
.tech-model li a:hover, .tech-sort li a:hover {
	text-decoration: none;
}
.tech-model li:nth-child(1) {
	background-color: orange;
}
.tech-model li:nth-child(2) {
	background-color: green;
}
.tech-model li:nth-child(3) {
	background-color: blue;
}
.tech-model .iconfont {
	font-size: 40px;
	border: 2px solid white;
	border-radius: 50%;
}
.tech-model>li:nth-child(1) .iconfont {
	padding: 5px;
	font-size: 40px;
	border: 0px solid white;
	border-radius: 50%;
}
.tech-sort li {
	border: 1px solid gray;
}
.tech-sort li:hover, .tech-sort .active {
	background-color: orange;
}
.last-article h3 {
	color: black;
}
.last-article .iconfont {
	padding: 5px;
	background-color: orange;
	color: white;
}
.featured-article {
	background-color: #f9f9f9;
}
.featured-article h4 {
	color: orange;
}
.Thumbnail img {
	height: 80px;
	width: 100px;
}
.Thumbnail {
	float: left;
	padding: 0 15px 0 0;
}
.describe .time {
	color: #808080;
	font-size: 11px;
	font-weight: bold;
}
.describe .note {
	color: #f90;
}
.describe .author {
	color: #f90 !important;
	font-size: 11px;
	font-weight: bold;
}
.describe .outline {
	color: #000;
}
.article-list {
	padding-top: 40px;
}
.atc-list .iconfont {
	color: orange;
	font-size: 80px;
}
.more {
	margin: 28px 22px 2px 0;
	text-align: right;
	border-top: 1px solid #ccc;
}
.hot .iconfont {
	color: red;
	margin: 5px;
}
.hot h3, .question h3 {
	color: #000;
}
.hot-list, .question-list {
	list-style-type: square;
	color: #000;
}
.question .iconfont {
	color: orange;
	margin: 5px;
}
.ad img {
	width: 180px;
	height: 100px;
}