/*weibo.css*/
.current-user .btn {
	height: 70px;
	font-size: 14px;
}
#weibo_text {
	background-color: #f4f5f7;
}
#weibo_text:focus, #weibo_text:hover {
	background-color: #fff;
}
.weibo {
	border-bottom: 1px solid #CCC;
	padding-bottom: 40px;
}

/*.current-user img {
width: 50px;
height: 50px;
border-radius: 50%;
margin: 10px 20px 0 20px;
}*/
#fileElem {
	display: none;
}
#fileSelect {
	position: relative;
	top: 0;
	left: 50px;
	cursor: pointer;	/*text-align: center;	border: 1px solid #ccc;*/
}
.add-img {
	display: none;
	color: gray;
	font-size: 18px;
}
#fileSelect:hover .add-img {
	display: inline-block;
}
#fileSelect .iconfont {
	font-size: 30px;
	color: #ccc;
}
#preview {
	position: relative;
	left: 50px;
	top: -10px;
}
#preview img {
	width: 45px;
	height: 45px;
}
.send:hover .iconfont, .remark:hover .iconfont, .love:hover .iconfont {
	color: #31B0D5;
	cursor: pointer;
}
#comment_text {
	background-color: #f4f5f7;
}
#comment_text:focus, #comment_text:hover {
	background-color: #fff;
}
.comment {
	border-bottom: 1px solid #CCC;
	padding-bottom: 40px;
}
.current-user .btn {
	height: 70px;
	font-size: 14px;
}
.comment-other {
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}
.current-user img, .comment-other img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 10px 20px 0 20px;
}
.comment-other span>a {
	color: #6d757a;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
}
.comment-other span>a:hover {
	color: #00a1d6;
}
.comment-content {
	position: relative;
	top: -10px;
	left: 100px;
}
.comment-info {
	color: #aaa;
	position: relative;
	left: 100px;
}
.comment-info span {
	padding-right: 20px;
}